/* src/styles/fonts.css */
@font-face {
     font-family: 'Satoshi';
     src: url('/fonts/satoshi/satoshi.woff2') format('woff2'),
          url('/fonts/satoshi/satoshi.woff') format('woff');
     font-weight: normal;
     font-style: normal;
   }
   