/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=EB+Garamond:wght@400;700&family=Nunito:wght@200;400;600;800;1000&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', 'EB+Garamond', 'Nunito', sans-serif;
}

/* Navbar styles */
.navbar {
  @apply bg-[#0ea9e7] h-[50px] p-2;
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar-links {
    display: none;
  }
  .navbar-home {
    display: block;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .navbar-links {
    display: none;
  }
  .navbar-home {
    display: block;
  }
}

@media (min-width: 1290px) and (max-width: 1300px) {
  .navbar-links {
    display: none;
  }
  .navbar-home {
    display: block;
  }
}

/* Main container */
.main {
  @apply fixed flex justify-center;
  width: 100vw;
  min-height: 100vh;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  @apply absolute z-10 w-full h-full;
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
}

.main:after {
  @apply absolute z-1 w-full h-full opacity-40;
  background-image: url("/assets/images/grid.svg");
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: none; /* Remove or set to none */
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}


/* Media queries */
@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .mobileLinks {
    @apply fixed top-[100px] right-0 w-[50%] h-[calc(100vh-100px)] bg-white flex flex-col items-center justify-center gap-2.5;
  }
}

@media (max-width: 1024px) {
  .md\\:flex {
    display: block;
  }
  
  .md\\:hidden {
    display: block;
  }
  
  .mobile-menu {
    width: 100vw;
  }
}

/* App container */
.app {
  @apply relative z-10 flex justify-center items-center flex-col w-full sm:px-16 px-6;
}


/* Typography */
.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

/* Utilities */
@layer utilities {
  .blue-gradient {
    background: linear-gradient(to right, #B5E2F0, #0EA9E7);
  }

  .Blue_gradient {
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-sky-500 bg-clip-text text-transparent;
  }
}

/* Footer styles */
.footer-container {
  @apply bg-blue-sky py-4 px-16 flex flex-col md:flex-row justify-between items-center w-full mb-16 pt-3 gap-[40px];
}

.footer-logo {
  @apply text-xl font-extrabold;
}

.footer-text {
  @apply text-sm text-right;
}

.footer-links {
  @apply flex flex-col space-y-2 md:space-y-0 md:space-x-4 md:flex-row;
}

.footer-link {
  @apply text-gray-300 hover:underline;
}

/* Additional styles */
.container {
  @apply flex gap-24;
}

.textContainer {
  @apply flex-1 flex flex-col gap-12;
}

.title {
  @apply text-4xl font-bold;
}

.subtitle {
  @apply text-3xl font-bold;
}

.desc {
  @apply text-lg font-light;
}

.boxes {
  @apply flex items-center justify-between;
}

.box {
  @apply flex flex-col gap-2;
}

.imgContainer {
  @apply flex-1 relative;
}

.img {
  @apply object-contain;
}

.search_input {
  @apply border border-blue-300 p-3 rounded-md;
}

.button {
  @apply bg-blue-500 text-black p-3 rounded-md;
}

.contact_button {
  @apply text-button-white h-12;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}
/* styles/globals.css */
nav {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
